*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 222, 240)
}
nav{
    transition: 2ms;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
   
}
nav a:hover{
    padding: 10px;
}
nav a{
    text-decoration: none;
    margin: 10px;
    background-color: rgb(166, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
    
}
footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: underline;
    font-style: italic;
    font-size: larger;
}
footer img{
    border:none;
    width: 10rem;
    margin-right:20px;
}
footer img:hover{
    transition: 2s;
    transform: rotate(180deg);
}
nav img{
    width: 4rem;
    border: none;
}
img{
    border: 2px solid rgb(243, 115, 115);
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
}
.navegator{
    display: none;
}
main{
    margin: 2rem;
}
.image{
    display: flex;
    justify-content: center;
}
#image_mainly{
    height: 20rem;
    width: 50rem;
}
.mainly_1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.mainly_1 img{
    width: 20rem;
}
.container_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-size: large;
}
.main_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_2 img{
    width: 20rem;
}
.main_2 p{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.row_1{
    display: flex;
    margin: 20px;
}
.row_2{
    display: flex;
    margin: 20px;
}
.row_3{
    display: flex;
    margin: 20px;
}
.main_3{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_3 img{
    height: 20rem;
    width: 50rem;
}
.box_contact{
    display: flex;
}
.box_contact p{
    margin: 20px;
}
.main_4{
    height: 50vh;
    display: flex;
    justify-content: center;
}
table{
    box-shadow: 3px 3px rgb(0, 0, 0), -1em 0 .4em rgb(234, 6, 6);
}
th , td{
    border: 2px solid rgb(246, 143, 143);
}
.main_5 img{
    width: 15rem;
    margin: 20px;
}
.main_5{
    min-height: 50vh;
    display: flex;
    justify-content:space-evenly;
}
.photo{
    display: flex;
    flex-direction: column;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: large;
    font-style: italic;
}
.lists ul{
    margin: 35px;
}
.main_6 img{
    width: 20rem;
}
.img_main_6{
    display: flex;
    flex-direction: column;
}
.main_6 h5{
    width: 20rem;
    text-align: center;
}
.main_6{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
form{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ff928c;
    
}
.form_section_1 , .form_section_2 , .form_section_3 , .form_section_4{
    display: flex;
    flex-direction: column;
    width: 20rem;
}
.form_section_5{
    width: 20rem;
}
.form_section_6{
    
    display: flex;
    justify-content: center;
}
.form_section_6 input{
    color: white;
    font-size: large;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
.form_section_6 input:hover{
    transition: 1s;
    padding: 10px;
}
.box_services{
    height: 50px;
}
footer iframe{
    width: 10rem;
    height: 10rem;
}
@media only screen and (min-width:320px) and (max-width:767px){
    .a{
        display: flex;
        flex-direction: column;
    }
    #image_mainly{
        width: 20rem;
    }
    .mainly_1{
        flex-wrap: wrap;
    }
    .row_1 , .row_2 , .row_3{
        flex-wrap: wrap;
    }
    .main_2 p{
        width: 15rem;
    }
    .main_3 img{
        width: 15rem;
    }
    .box_contact p{
        margin:0px;
    }
   .main_5{
    flex-wrap: wrap;
   }
   .footer_6{
    flex-wrap: wrap;
   }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .main_3 img{
        width: 40rem;
    }
   .lists li{
    margin: 20px;
   }
}



